@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 90rem;
    margin: 0 auto;
    padding: 1.5rem;
}

.btn{
    display:inline-block;
    padding:.4rem 1rem;
    border:1px solid transparent;
}
.btn.bg--light{
    @apply bg-white border-[1px] border-black hover:bg-[#e2e2e2] text-dark rounded-full
}

.btn.bg--dark{
    @apply bg-black border-[1px] border-black hover:bg-[#292929] text-white rounded-full
}

.btn.bg--green{
    @apply bg-[#1e3932] border-[1px] border-white hover:bg-[#172b26] text-white rounded-full
}
.btn.bg--lightgreen{
    @apply bg-[#00754a] hover:bg-[#37a77e] text-white rounded-full
}


@layer components{
    .header{
        @apply bg-white fixed w-full drop-shadow-lg
    }
    .header .header__wrapper {
        @apply px-[1rem] py-[.8rem] lg:p-[2rem]  flex items-center justify-between relative
    }
    .header .header__nav {
        @apply absolute bg-white top-[4.1rem] right-[-40rem] h-[100vh] w-[65vw] flex flex-col transition-all p-[2rem] lg:p-[0rem] lg:static lg:flex lg:flex-row lg:h-[0%]
    }
    .header .header__nav.open{
        @apply right-[0rem]  transition-all z-[1000]
    }
    .header .header__nav ul {
        @apply flex flex-col lg:flex-row lg:p-[0rem] lg:gap-[2rem]
    }
    .header .header__nav ul li#thick{
        @apply  pb-[2rem] lg:pb-[0rem]
    }
    .header .header__nav ul li#thick a{
        @apply  hover:text-[#006341] text-[.9rem] lg:text-[.8rem] lg:uppercase lg:font-bold
    }
    .header .header__actions ul{
        @apply flex gap-[2rem]
    }
    .header .header__actions {
        @apply border-t-[1px] border-gray-200
    }
    .header .header__actions ul li{
        @apply py-[.8rem] text-[.8rem]
    }
    .header .header__actions ul li#light{
        @apply p-1 w-[5rem] text-center
    }
    .header .header__actions ul li#store{
        @apply px-[1.5rem] pt-[2rem] text-gray-600 
    }
    .header .header__actions ul li#dark{
        @apply p-1 w-[6rem] text-center
    }
    .toggle__menu{
        @apply flex flex-col gap-[.25rem] cursor-pointer lg:hidden hover:bg-gray-200 p-[.5rem] rounded-[10rem] ease-in-out duration-300
    }
    .toggle__menu span{
        @apply w-[1rem] h-[2px] bg-[#2b2b2b] block rounded-full
    }
    .header .branding{
        @apply lg:flex lg:flex-row
    }
    .header .header__actions2 {
        @apply hidden lg:block
    }
    .header .header__actions2 ul{
        @apply lg:flex lg:items-center lg:gap-[.5rem]
    }
    .header .header__actions2 ul li#store a{
        @apply lg:hover:text-[#006341] lg:text-[.8rem] lg:font-bold lg:mx-[1rem]
    }
    .header .header__actions2 ul li#light{
        @apply p-1 w-[4rem] text-center text-[.8rem]
    }
    .header .header__actions2 ul li#dark{
        @apply p-1 w-[5rem] text-center text-[.8rem]
    }
    .header .toggle__menu.open span:first-child {
        transform: translateY(6px) rotate(45deg);
        transition: 0.5s ease;
    }
    .header .toggle__menu.open span:nth-child(2) {
        opacity: 0;
        transition: 0.5s ease;
    }
    .header .toggle__menu.open span:last-child {
        transform: translateY(-6px) rotate(135deg);
        transition: 0.5s ease;
    }

    .blurred{
       @apply absolute bg-black top-[4.1rem] left-[0rem] w-[100vw] transition-all opacity-30 lg:hidden
    }
    .blurred.open{
        @apply right-[0rem] h-[100vh] transition-all
    }

    /*----banner----*/
    .banner{
         background-image:url("./img/rewards/star.png");
         background-color:#d0eae4;
         background-size:40rem;
         height:600px;
         background-position-y:21rem;
         background-repeat:no-repeat;
         text-align:center;
         background-position-x:7rem;
         @media screen and (min-width:1024px){
            background-position-y:0rem;
            background-size:90rem;
            background-position-x:50rem;
            height:800px;
            text-align:unset;
            display:flex;
            align-items:center;
         }
    }
    .banner .banner__wrapper{
        @apply flex flex-col
    }
    .banner .banner__wrapper h1{
        @apply text-[1.6rem] max-w-[11.4rem] mx-auto font-bold lg:m-0 lg:text-[1.8rem] lg:max-w-[12.85rem]
     }
    .banner .banner__wrapper p{
        @apply py-[1rem] font-medium
     }
     .banner .banner__wrapper span{
        @apply py-[1.2rem]
     }
    .banner .banner__wrapper a:last-child{
        @apply underline hover:no-underline
     }

     /*----steps----*/
     .steps{
        @apply pb-[5rem]
     }
     .steps .steps__wrapper{
        @apply flex flex-col gap-[2rem] 
     }
     .steps .steps__content{
        @apply flex flex-col gap-[2rem] lg:flex-row lg:gap-0
     }
     .steps .steps__text h1{
        @apply p-[1rem] text-[1.5rem] font-semibold text-center
     }
     .steps .steps__text h2{
        @apply text-[.9rem]  text-center
     }
    .steps .steps__list {
        @apply flex flex-row gap-[1rem] items-start lg:flex-col lg:items-center lg:text-center lg:mx-auto
    }
    .steps .steps__list a {
        @apply underline text-[#006341] hover:no-underline
    }
    .steps .steps__list h3 {
        @apply py-[.4rem] px-[1rem] border-[2px] rounded-full text-[1.3rem] font-bold border-[#006341] text-[#006341]
    }
    .steps .steps__list h4 {
        @apply font-semibold pb-[1rem]  lg:text-[1.2rem]
    }
    .steps .steps__list p {
        @apply text-[.9rem] lg:max-w-[20rem]
    }

    /*----cash----*/
    .cash{
        @apply pb-[5rem] bg-[#f2f0eb]
    }
    .cash__container{
        @apply max-w-[90rem] m-auto p-[1rem]   
    }
    .cash .cash__wrapper {
        @apply flex flex-col gap-[2rem]
    }
    .cash .cash__text{
        @apply lg:pb-[1.5rem]
    }
    .cash .cash__text h2{
        @apply text-[1.3rem] font-semibold pt-[3rem] pb-[1rem] text-center lg:text-[1.6rem]
    }
    .cash .cash__text p{
        @apply text-center text-[.9rem] lg:max-w-[42rem] lg:text-[1rem] lg:mx-auto
    }
    .cash .cash__content{
        @apply flex flex-col gap-[2rem] lg:flex-row items-start lg:gap-[2.8rem] pb-[1rem] border-b-[1px] border-gray-300
     }
     .cash .cash__content2{
        @apply flex flex-col gap-[2rem] lg:flex-row items-start
     }    
     .cash .cash__dollar h3{
        @apply font-bold lg:text-[1.3rem]
     }
     .cash .cash__dollar span{
        @apply  text-[.9rem] lg:text-[1rem]
     }
     .cash .cash__items {
        @apply flex gap-[1.5rem]  
     }
     .cash .cash__items img#img1{
        @apply w-[7rem] lg:w-[8rem]
     }
     .cash .cash__items img#img2{
        @apply w-[32rem] lg:w-[8rem]
     }
     .cash .cash__items img{
        @apply w-[21rem] lg:w-[8rem]
     }
     .cash .cash__items__text p{
        @apply text-[.89rem] lg:max-w-[17.8rem] lg:text-[1rem]
     }
     .cash .cash__items__text h4{
        @apply text-[1rem] font-semibold
     }
     .cash .cash__items__text {
        @apply flex flex-col gap-[1rem]
     }



    /*---extras---*/
    .extras{
        @apply pb-[5rem]
     }
     .extras .extras__wrapper{
        @apply flex flex-col gap-[2rem] 
     }
     .extras .extras__content{
        @apply flex flex-col gap-[2rem] lg:flex-row lg:gap-0
     }
     .extras .extras__text h1{
        @apply p-[1rem] text-[1.5rem] font-semibold text-center
     }
     .extras .extras__text h2{
        @apply text-[.9rem]  text-center lg:max-w-[30rem] lg:mx-auto
     }
    .extras .extras__list {
        @apply flex flex-row gap-[1rem] items-center lg:flex-col lg:items-center lg:text-center lg:mx-auto
    }
    .extras .extras__list a {
        @apply underline text-[#006341] hover:no-underline
    }
    .extras .extras__list img {
        @apply w-[6.5rem]
    }
    .extras .extras__list h4 {
        @apply font-semibold  lg:text-[1.2rem]
    }
    .extras .extras__list p {
        @apply text-[.9rem] lg:max-w-[20rem]
    }
    .extras .extras__item{
        @apply flex flex-col gap-[1rem]
    }

    /*----bokals----*/
    .kalbo{
        @apply bg-white
    }
    .kalbo__wrapper{
        @apply bg-[#f1f8f5] drop-shadow-md
    }
    .kalbo__wrapper h2{
        @apply pt-[2rem] pb-[1rem] text-[1.5rem] font-bold text-center
    }
    .kalbo__nav{
        @apply flex flex-wrap mx-auto justify-center
    }
    .kalbo__nav a{
        @apply text-[1.3rem]
    }
    .kalbo__nav li.active{
        @apply  border-[#006341]
    }
    .kalbo__nav span{
        @apply text-[#cba258] text-[.8rem]
    }
    .kalbo__nav li{
        @apply text-dark p-[1.69rem] font-semibold relative
    }
    .kalbo__nav li:after{
        @apply content-['']  h-[4px] bg-[#006341] block absolute bottom-0 w-0 right-0 origin-bottom-left
    }
    .kalbo__nav li.active:after{
        @apply w-full ease-in-out duration-300
    }
    .kalbo__desc__wrapper{
        @apply bg-[#d4e9e2] h-[500px] lg:h-[250px]
    }
    .kalbo__item__content{
        @apply p-[1.5rem] absolute top-[4rem] opacity-0 ease-in duration-300 lg:flex lg:left-1/2 lg:transform lg:-translate-x-1/2 lg:max-w-[50rem] lg:top-[8rem]    
    }
    .kalbo__item__content.active{
        @apply  opacity-[1] top-0  ease-in duration-[.3s] pt-[2rem]
    }
    .kalbo__item__content img{
        @apply w-[45rem] lg:w-[20rem]
    }
    /* .kalbo__item__content.active {
        @apply flex flex-col gap-[2rem] items-center justify-center lg:flex-row 
    } */
    .kalbo__text h2{
        @apply font-semibold text-[1.2rem] mb-[1rem] text-center lg:text-left lg:text-[1.5rem]
    }
    .kalbo__text table tr{
        @apply h-[4rem] flex flex-col text-center lg:text-left lg:h-[5rem]
    }

    /* swirl */
    .swirl{
        @apply bg-[url('./img/rewards/greenbgswirl.png')] h-[650px]
    }

    /* stardrop */

.stardrop__wrapper {
    @apply flex flex-col items-center gap-8 pb-4 border-b-2 border-gray-300;
  }
  
  .stardrop__nav ul.nav {
    @apply flex flex-col;
  }
  
  .stardrop__nav ul.nav li a {
    @apply flex justify-between items-center px-7 text-xl font-semibold text-gray-800;
  }
  
  .stardrop__nav ul.nav li a i {
    @apply text-gray-800 transition duration-100;
  }
  
  .stardrop__nav ul.drop1 {
    @apply m-8 max-h-0 overflow-hidden transition duration-500 bg-white;
  }
  
  .stardrop__nav ul.drop1 li {
    @apply py-2 cursor-pointer text-gray-800;
  }
  
  .stardrop__nav ul.drop1 li:hover {
    @apply text-blue-500;
  }
  
  .stardrop__nav ul.drop1.open {
    @apply max-h-[60rem] transition duration-500 bg-white;
  }
  
  .stardrop__nav ul.nav li a i.open {
    @apply rotate-180;
  }
  
}