@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: BorelFont;
    src: url('../fonts/Borel-Regular.woff');
}

.container {
    max-width: 90rem;
    margin: 0 auto;
    padding: 1.5rem;
}

.btn{
    display:inline-block;
    padding:.4rem 1rem;
    border:1px solid transparent;
}
.h-btn{
    display:inline-block;
    padding:.2rem .8rem;
    border:1px solid transparent;
}
.btn.bg--light{
    @apply bg-white border-[1px] border-black hover:bg-[#e2e2e2] text-dark rounded-full
}

.btn.bg--dark{
    @apply bg-black border-[1px] border-black hover:bg-[#292929] text-white rounded-full
}

.btn.bg--green{
    @apply bg-[#1e3932] border-[1px] border-white hover:bg-[#172b26] text-white rounded-full
}
.btn.bg--lightgreen{
    @apply bg-[#00754a] hover:bg-[#37a77e] text-white rounded-full
}
.h-btn.bg--green{
    @apply border-[1] border-[#1e3932] rounded-full hover:bg-[#dc7698]
}
.h-btn.bg--white{
    @apply border-[1] border-white rounded-full hover:bg-[#234039]
}
.h-btn.bg--black{
    @apply border-[1] border-black rounded-full hover:bg-[#8380e0]
}


@layer components{
    .white{
        @apply hidden ease-out duration-[.1s]
    }
    .header{
        @apply bg-white fixed w-full drop-shadow-lg
    }
    .header .header__wrapper {
        @apply flex relative items-center justify-between
    }
    .header .branding{
        @apply flex gap-[1rem] items-center
    }
    .header .header__nav {
        @apply absolute bg-white top-[4rem] right-[-90rem] h-[100vh] w-[80vw] flex flex-col p-[2rem] lg:p-[0rem] lg:static lg:flex lg:flex-row lg:h-[0%] lg:items-center lg:w-[0vw] lg:justify-between
    }
    .header .header__nav.open{
        @apply right-[-5rem] transition-all z-[1000] block
    }
    .header .header__nav ul {
        @apply flex flex-col lg:flex-row lg:p-[0rem] lg:gap-[2rem]
    }
    .header .header__nav ul li#thick{
        @apply  pb-[2rem] lg:pb-[0rem]
    }
    .header .header__nav ul li#thick a{
        @apply  hover:text-[#006341] text-[.9rem] lg:text-[.8rem] lg:uppercase lg:font-bold
    }
    .header .header__actions ul{
        @apply flex gap-[2rem]
    }
    .header .header__actions {
        @apply border-t-[1px] border-gray-200
    }
    .header .header__actions ul li{
        @apply py-[.8rem] text-[.8rem]
    }
    .header .header__actions ul li#light{
        @apply p-1 w-[5rem] text-center
    }
    .header .header__actions ul li#store{
        @apply px-[1.5rem] pt-[2rem] text-gray-600 
    }
    .header .header__actions ul li#dark{
        @apply p-1 w-[6rem] text-center
    }
    .toggle__menu{
        @apply flex flex-col gap-[.25rem] cursor-pointer lg:hidden hover:bg-gray-200 p-[.5rem] rounded-[10rem] ease-in-out duration-300
    }
    .toggle__menu span{
        @apply w-[1rem] h-[2px] bg-[#2b2b2b] block rounded-full
    }
    .header .branding{
        @apply lg:flex lg:flex-row
    }
    .header .header__actions2 {
        @apply hidden lg:flex
    }
    .header .header__actions2 ul{
        @apply lg:flex lg:items-center lg:gap-[.5rem]
    }
    .header .header__actions2 ul li#store a{
        @apply lg:hover:text-[#006341] lg:text-[.8rem] lg:font-bold
    }
    .header .header__actions2 ul li#light{
        @apply p-1 w-[4rem] text-center text-[.8rem]
    }
    .header .header__actions2 ul li#dark{
        @apply p-1 w-[5rem] text-center text-[.8rem]
    }
    .header .toggle__menu.open span:first-child {
        transform: translateY(6px) rotate(45deg);
        transition: 0.5s ease;
    }
    .header .toggle__menu.open span:nth-child(2) {
        opacity: 0;
        transition: 0.5s ease;
    }
    .header .toggle__menu.open span:last-child {
        transform: translateY(-6px) rotate(135deg);
        transition: 0.5s ease;
    }

    .blurred{
       @apply absolute bg-black top-[4.1rem] left-[-10rem] w-[100vw] transition-all opacity-30 lg:hidden
    }
    .blurred.open{
        @apply right-[0rem] h-[100vh] transition-all
    }

    /*----banner----*/
    .banner{
         background-image:url("./img/rewards/star.png");
         background-color:#d0eae4;
         background-size:40rem;
         height:600px;
         background-position-y:21rem;
         background-repeat:no-repeat;
         text-align:center;
         background-position-x:7rem;
         @media screen and (min-width:1024px){
            background-position-y:0rem;
            background-size:90rem;
            background-position-x:50rem;
            height:800px;
            text-align:unset;
            display:flex;
            align-items:center;
         }
    }
    .banner .banner__wrapper{
        @apply flex flex-col
    }
    .banner .banner__wrapper h1{
        @apply text-[1.6rem] max-w-[11.4rem] mx-auto font-bold lg:m-0 lg:text-[1.8rem] lg:max-w-[12.85rem]
     }
    .banner .banner__wrapper p{
        @apply py-[1rem] font-medium
     }
     .banner .banner__wrapper span{
        @apply py-[1.2rem]
     }
    .banner .banner__wrapper a:last-child{
        @apply underline hover:no-underline
     }

     /*----steps----*/
     .steps{
        @apply pb-[5rem]
     }
     .steps .steps__wrapper{
        @apply flex flex-col gap-[2rem] 
     }
     .steps .steps__content{
        @apply flex flex-col gap-[2rem] lg:flex-row lg:gap-0
     }
     .steps .steps__text h1{
        @apply p-[1rem] text-[1.5rem] font-semibold text-center
     }
     .steps .steps__text h2{
        @apply text-[.9rem]  text-center
     }
    .steps .steps__list {
        @apply flex flex-row gap-[1rem] items-start lg:flex-col lg:items-center lg:text-center lg:mx-auto
    }
    .steps .steps__list a {
        @apply underline text-[#006341] hover:no-underline
    }
    .steps .steps__list h3 {
        @apply py-[.4rem] px-[1rem] border-[2px] rounded-full text-[1.3rem] font-bold border-[#006341] text-[#006341]
    }
    .steps .steps__list h4 {
        @apply font-semibold pb-[1rem]  lg:text-[1.2rem]
    }
    .steps .steps__list p {
        @apply text-[.9rem] lg:max-w-[20rem]
    }

    /*----cash----*/
    .cash{
        @apply bg-[#f2f0eb]
    }
    .cash__container{
        @apply max-w-[90rem] m-auto p-[1rem]   
    }
    .cash .cash__wrapper {
        @apply flex flex-col gap-[2rem]
    }
    .cash .cash__text{
        @apply lg:pb-[1.5rem]
    }
    .cash .cash__text h2{
        @apply text-[1.3rem] font-semibold pt-[3rem] pb-[1rem] text-center lg:text-[1.6rem]
    }
    .cash .cash__text p{
        @apply text-center text-[.9rem] lg:max-w-[42rem] lg:text-[1rem] lg:mx-auto
    }
    .cash .cash__content{
        @apply flex flex-col gap-[2rem] lg:flex-row items-start lg:gap-[2.8rem] pb-[1rem]
     }
    .cash .cash__content2{
    @apply flex flex-col gap-[2rem] lg:flex-row items-start
    }    
    .cash .cash__dollar h3{
    @apply font-bold lg:text-[1.3rem]
    }
    .cash .cash__dollar span{
    @apply  text-[.9rem] lg:text-[1rem]
    }
    .cash .cash__items {
    @apply flex gap-[1.5rem]  
    }
    .cash .cash__items img#img1{
    @apply w-[7rem] lg:w-[8rem]
    }
    .cash .cash__items img#img2{
    @apply w-[32rem] lg:w-[8rem]
    }
    .cash .cash__items img{
    @apply w-[21rem] lg:w-[8rem]
    }
    .cash .cash__items__text p{
    @apply text-[.89rem] lg:max-w-[17.8rem] lg:text-[1rem]
    }
    .cash .cash__items__text h4{
    @apply text-[1rem] font-semibold
    }
    .cash .cash__items__text {
    @apply flex flex-col gap-[1rem]
    }
.cash .cash__content:not(:last-child) {
    @apply border-b border-gray-300;
}

    /*---extras---*/
    .extras{
        @apply pb-[5rem]
     }
     .extras .extras__wrapper{
        @apply flex flex-col gap-[2rem] 
     }
     .extras .extras__content{
        @apply flex flex-col gap-[2rem] lg:flex-row lg:gap-0
     }
     .extras .extras__text h1{
        @apply p-[1rem] text-[1.5rem] font-semibold text-center
     }
     .extras .extras__text h2{
        @apply text-[.9rem]  text-center lg:max-w-[30rem] lg:mx-auto
     }
    .extras .extras__list {
        @apply flex flex-row gap-[1rem] items-center lg:flex-col lg:items-center lg:text-center lg:mx-auto
    }
    .extras .extras__list a {
        @apply underline text-[#006341] hover:no-underline
    }
    .extras .extras__list img {
        @apply w-[6.5rem]
    }
    .extras .extras__list h4 {
        @apply font-semibold  lg:text-[1.2rem]
    }
    .extras .extras__list p {
        @apply text-[.9rem] lg:max-w-[20rem]
    }
    .extras .extras__item{
        @apply flex flex-col gap-[1rem]
    }

    /*----bokals----*/
    .kalbo{
        @apply bg-white
    }
    .kalbo__wrapper{
        @apply bg-[#f1f8f5] drop-shadow-md
    }
    .kalbo__wrapper h2{
        @apply pt-[2rem] pb-[1rem] text-[1.5rem] font-bold text-center
    }
    .kalbo__nav{
        @apply flex flex-wrap mx-auto justify-center
    }
    .kalbo__nav a{
        @apply text-[1.3rem]
    }
    .kalbo__nav li.active{
        @apply  border-[#006341]
    }
    .kalbo__nav span{
        @apply text-[#cba258] text-[.8rem]
    }
    .kalbo__nav li{
        @apply text-dark p-[1.69rem] font-semibold relative
    }
    .kalbo__nav li:after{
        @apply content-['']  h-[4px] bg-[#006341] block absolute bottom-0 w-0 right-0 origin-bottom-left
    }
    .kalbo__nav li.active:after{
        @apply w-full ease-in-out duration-300
    }
    .kalbo__desc__wrapper{
        @apply bg-[#d4e9e2] h-[500px] lg:h-[270px]
    }
    .kalbo__item__content{
        @apply p-[1.5rem] absolute top-[4rem] opacity-0 ease-in duration-300 lg:flex lg:left-1/2 lg:transform lg:-translate-x-1/2 lg:max-w-[50rem] lg:top-[5rem]    
    }
    .kalbo__item__content.active{
        @apply  opacity-[1] top-0  ease-in duration-[.3s] pt-[2rem]
    }
    .kalbo__item__content img{
        @apply w-[45rem] lg:w-[20rem]
    }
    /* .kalbo__item__content.active {
        @apply flex flex-col gap-[2rem] items-center justify-center lg:flex-row 
    } */
    .kalbo__text h2{
        @apply font-semibold text-[1.2rem] mb-[1rem] text-center lg:text-left lg:text-[1.5rem]
    }
    .kalbo__text table tr{
        @apply h-[4rem] flex flex-col text-center lg:text-left lg:h-[5rem]
    }

    /* swirl */
    .swirl{
        @apply lg:bg-[url('./img/rewards/greenbgswirl.png')] bg-cover
    }
    .swirl .swirl__inner { 
        @apply items-center p-[2.5rem] lg:bg-[#d4e9e2] lg:flex lg:px-[10rem] justify-center lg:gap-[8rem] lg:py-0
    }
    .swirl .swirl__wrapper{
        @apply bg-[#d4e9e2] lg:py-[1rem]
    }
    .swirl .swirl__text{
        @apply text-center flex flex-col gap-[1.5rem] lg:max-w-[35rem]
    }
    .swirl .swirl__text h2{
        @apply text-[1.5rem] font-bold max-w-[15rem] mx-auto lg:max-w-full
    }
    .swirl .swirl__text a:first-child{
        @apply underline text-[#006341] hover:no-underline font-normal
    }
    .swirl .swirl__text a#join{
        @apply max-w-[14rem] font-bold text-[.95rem] mx-auto
    }
    .swirl .swirl__text p{
        @apply text-[.95rem] lg:text-[1rem]
    }
    

    /* stardrop */

    .stardrop__wrapper {
        @apply  flex flex-col gap-8 pb-4 border-b-2 ;
    }
    .stardrop .stardrop__container{
        @apply  px-[1rem] py-[1rem] lg:max-w-[90rem] mx-auto
    }
    .stardrop__nav ul.nav {
        @apply flex flex-col lg:flex-row gap-[2rem];
    }
    .stardrop__nav ul.nav li a#title {
        @apply pb-[1.6rem]  flex justify-between text-[1rem] font-semibold text-black;
    }
    
    .stardrop__nav ul.nav li a i {
        @apply text-gray-800 ease-in-out duration-[.3s] lg:hidden;
    }
    
    .stardrop__nav ul.drop1 {
        @apply  max-h-0 overflow-hidden ease-in-out duration-[.3s] bg-white lg:max-h-[50vh] flex flex-col gap-[1rem];
    }

    .stardrop__nav ul.drop1 a {
        @apply py-2 cursor-pointer text-gray-500 ease-in-out duration-[.3s];
    }
    
    .stardrop__nav ul.drop1 a:hover {
        @apply text-gray-900;
    }
    
    .stardrop__nav ul.drop1.open {
        @apply max-h-[60rem] transition duration-500 bg-white;
    }
    
    .stardrop__nav ul.nav li a i.open {
        @apply rotate-180;
    }

  /*----sb-content----*/
    .sb-content {
        @apply bg-[#f9f9f9]
    }
    .sb-content .sb-content__wrapper{
        @apply flex flex-col gap-[1rem]   
    }
    .sb-content .sb-content__title{
        @apply text-[.9rem] flex flex-col gap-[.5rem]
    }
    .sb-content a {
        @apply underline hover:no-underline text-[#006341]
    }
    .sb-content .sb-content__left{
        @apply flex flex-col gap-[1.8rem] lg:flex-row
    }
    .sb-content .sb-content__right{
        @apply flex flex-col gap-[1.8rem] lg:flex-row
    }
    .sb-content .sb-content__left .sb-content__left__text{
        @apply flex flex-col gap-[.5rem]
    }
    .sb-content .sb-content__right .sb-content__right__text{
        @apply flex flex-col gap-[.5rem]
    }
    .sb-content .sb-content__info p{
        @apply text-[.9rem]
    }
    .sb-content .sb-content__info h2{
        @apply text-[.9rem] font-bold text-[#686868]
    }
    .sb-content .sb-content__info{
        @apply flex flex-col gap-[2rem]
    }

    /*---footer---*/
    .footer .footer__icons ul{
        @apply flex items-center 
    }
    .footer .footer__icons ul li{
        @apply flex text-[2rem] text-[#212121] px-[.65rem] py-[.1rem] hover:bg-gray-200 hover:rounded-full ease-in-out duration-[.3s]
    }
    .footer .footer__list ul li a{
        @apply hover:underline
    }
    .footer .footer__wrapper{
        @apply flex flex-col gap-[1.5rem]
    }
    .footer .footer__wrapper p{
        @apply text-[.85rem] text-[#686868]
    }
    .footer .footer__list ul{
        @apply flex flex-col gap-[1rem] lg:flex-row
    }
    .footer .footer__list ul li{
        @apply pr-[.9rem]
    }
    .footer .footer__list ul li:not(:last-child){
        @apply lg:border-r-[1px] lg:border-gray-400
    }

    /*---h-banner---*/
    .h-banner{
        @apply pt-[6rem]
    }
    .h-banner .h-banner__wrapper{
        @apply flex flex-col gap-[2rem]
    }
    .h-banner .h-banner__content {
        @apply grid lg:grid-cols-2 lg:items-center bg-mink
    }
    .h-banner .h-banner__content#cnt1 {
        @apply bg-lasalle 
    }
    .h-banner .h-banner__content#cnt2 {
        @apply bg-[#8f8bf4] 
    }
    .h-banner .h-banner__content#cnt3 {
        @apply bg-[#f1ff67] 
    }
    .h-banner .h-banner__content:nth-child(odd) img{
        @apply lg:order-2
    }
    .h-banner .h-banner__text{
        @apply order-1 w-full py-[2rem] px-[2rem] text-[#1e3932] text-center flex flex-col gap-[1.5rem] lg:w-full lg:gap-[1.8rem]
    }
    .h-banner .h-banner__text#txt1{
        @apply text-white
    }
    .h-banner .h-banner__text#txt2{
        @apply text-black
    }
    .h-banner .h-banner__text#txt3{
        @apply text-black
    }
    .h-banner .h-banner__text h2{
        @apply text-[1.8rem] font-semibold lg:text-[3rem] lg:font-bold lg:max-w-[15rem] lg:m-auto lg:leading-[1.2]
    }
    .h-banner .h-banner__text#txt1 h2{
        @apply lg:max-w-[28rem]
    }
    .h-banner .h-banner__text#txt2 h2{
        @apply lg:max-w-[28rem]
    }
    .h-banner .h-banner__text#txt3 h2{
        @apply lg:max-w-[28rem]
    }
    .h-banner .h-banner__text a{
        @apply text-[.9rem] font-semibold max-w-[6.5rem] lg:mx-auto lg:text-[1rem] lg:max-w-[7rem] mx-auto
    }
    .h-banner .h-banner__text a#btn1{
        @apply max-w-[7rem] lg:max-w-[7.5rem]
    }
    .h-banner .h-banner__text p{
        @apply text-[1.4rem] font-medium lg:max-w-[29rem] lg:mx-auto
    }


}